body {
    background-image: url('wallpaper.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #252523;*/
}
h1 {
    color: #212121;
    font-family: 'Press Start 2P', cursive;
    margin: 3% 30%;
    text-align: center;
}
canvas {
    -moz-box-shadow: 0px 0px 70px 10px #212121;;
    -webkit-box-shadow: 0px 0px 70px 10px #212121;;
    -o-box-shadow: 0px 0px 70px 10px #212121;;
    box-shadow: 0px 0px 70px 10px #212121;;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#212121;, Direction=NaN, Strength=70);

}

/*.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('img/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('img/soundOff.png');
  background-repeat: no-repeat;
}*/
